{% extends "admin.html" %}

{% block title %}
    Admin Add
{% endblock %}

{% block main %}
    <form class="form-horizontal" method="POST" action="/admin/add" enctype="multipart/form-data">
        <h1>Add Car</h1>
        <h4>Upload image</h4>
        <dl>
            <p>
                <input type="file" name="file" class="form-control" autocomplete="off">
            </p>
        </dl>

        <label for="fvin">VIN:</label><br>
        <input type="text" id="fvin" name="fvin"><br>

        <label for="fmake">Make:</label><br>
        <input type="text" id="fmake" name="fmake"><br>

        <label for="fmodel">Model:</label><br>
        <input type="text" id="fmodel" name="fmodel"><br>

        <label for="fcolor">Color:</label><br>
        <input type="text" id="fcolor" name="fcolor"><br>

        <label for="fyear">Year:</label><br>
        <input type="text" id="fyear" name="fyear"><br>

        <label for="fseats">Seats:</label><br>
        <input type="text" id="fseats" name="fseats"><br>

        <label for="fprice">Price in Dollars:</label><br>
        <input type="text" id="fprice" name="fprice"><br>
        <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton"></label>
            <div class="col-md-4">
                <input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="Submit" />
            </div>
        </div>
    </form>
    {% endblock %}