{% extends "admin.html" %}

{% block title %}
    Admin Cars
{% endblock %}
{% block main %}
    <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    
  
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
     
      <form class="navbar-form navbar-left" role="search" action="/admin/cars" method="POST">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" name ="search" id="search">
        </div>
        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>

        <label for="cars">&nbsp;&nbsp;&nbsp;&nbsp;Choose a Color:</label>
        <select name="cars_colors" id="cars_colors">
            <option value="None" selected disabled>None </option>
            {% for color in colors %}
                <option value="{{color[0]}}">{{color[0]}}</option>
            {% endfor %}
        </select>
        <label class="" for="btncheck1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Add Car </label>

        <a href="/admin/add" id="add_button" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></a>
      </form>
      <br>
      <br>
      {% if pagination %}
        {{ pagination.info }}
        {{ pagination.links }}
      {% endif %}
    </div><!-- /.navbar-collapse -->
</nav>
    <table class="table table-hover">
        <thead>
        <tr> 
            <th scope="col">Car</th>
            <th scope="col">VIN</th>
            <th scope="col">Make</th>
            <th scope="col">Model</th>
            <th scope="col">Color</th>
            <th scope="col">Year</th>
            <th scope="col">Seats</th>
            <th scope="col">Price Per Day</th>
            <th scope="col">Edit / Delete</th>
            <th scope="col">Soft Delete</th>
        </tr>
        </thead>
        <tbody>
            {% for car in data %}
            <tr>
                <td><img src="/static/images/{{car[7]}}.jpg" height="150px" width="250px" alt={{car[7]}}> </td> 
                <td>{{car[0]}}</td> 
                <td>{{car[1]}}</td>
                <td>{{car[2]}}</td>
                <td>{{car[3]}}</td>
                <td>{{car[4]}}</td>
                <td>{{car[5]}}</td>
                <td>{{car[6]}}</td>
                <td ><pre style="margin: 5px; padding-left: 10px;"> <a href="/edit/{{car[0]}}" id="edit_button" class="edit_button"><i class="far fa-edit"></a></i> <a href="/delete/{{car[0]}}" id="trash_button" class="trash_button"><i class="fas fa-trash-alt"></i></a>   </pre></td>
                <td> <form method="POST" action="/remove/{{car[0]}}"> <button type="submit"><i class="fas fa-minus-circle"></button></i> </form>  </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}