<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Register</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://kit.fontawesome.com/6aac706f25.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/6aac706f25.js" crossorigin="anonymous"></script>


    <script>
        $(function () {
            $('form').on('submit', function (e) {
                e.preventDefault()
                //check empty username
                if ($('#username').val().length == 0) {
                    $('#success').html("<div class='alert alert-danger'><strong>Username required. </strong></div>");
                }
                //validate password and confirm pasword
                else if ($('#password').val().length < 6) {
                    $('#success').html("<div class='alert alert-danger'><strong>Password too short, must be at least 6 characters. </strong></div>");
                }
                else if ((/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{6,}$/.test($('#password').val())) == false) {
                    $('#success').html("<div class='alert alert-danger'><strong>Password must contain a lowercase letter, uppercase letter, and digit. </strong></div>");
                }
                else if ($('#password').val() != $('#confirmation').val()) {
                    $('#success').html("<div class='alert alert-danger'><strong>Password and confirm password must match. </strong></div>");
                }
                else { //fields are validated, check if username is available.
                    $.ajax({
                        url: '/preRegisterCheck',
                        data: { username: $('form #username').val() },
                        type: 'GET',
                        success: function (response) {
                            //username is available, register.
                            $.ajax({
                                url: '/register',
                                data: $('form').serialize(),
                                type: 'POST',
                                success: function (response) {
                                    $('#success').html("<div class='alert alert-success'><strong>Successfully Registered. </strong></div>");
                                },
                                error: function (error) {
                                    console.log(error)
                                }
                            });
                        },
                        error: function (error) {
                            $('#success').html("<div class='alert alert-danger'><strong>Username not available, try another one. </strong></div>");
                        }
                    });
                }
            });
        });
    </script>

</head>

<body>
    <div id="success"></div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    <!-- get all flash messages and put them in list messages -->
    {% if messages %}
    {% for category,message in messages %}
    {% if category == 'error' %}
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
    {% elif category == 'primary' %}
    <div class="alert alert-primary" role="alert">
        {{message}}
    </div>
    {% else %}
    <div class="alert alert-success" role="alert">
        {{message}}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div id="error" style="color: red; font-size:medium;"></div>

    <header>
        <!-- end topHeaderRow -->

        <nav class="navbar navbar-default ">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Car Rentals</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="/">Home</a></li>
                        <li><a href="login">Login</a></li>
                        <li><a href="/admin/login">Admin Login</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </header>


    <!-- Page Content -->
    <form>
        <div class="form-group">
            <label for="Username">Username</label>
            <input class="form-control" id="username" name="username" placeholder="Username" type="text">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Password (Again)</label>
            <input type="password" class="form-control" id="confirmation" name="confirmation"
                placeholder="Password Confirmation">
        </div>
        <br>
        <button type="submit" class="btn btn-primary" name="btnSignUp" id="btnSignUp">Sign Up</button>
        <br>

    </form>

</body>

</html>